<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936672719118-f80fjhidkivjhlu231lplu97c1n32v3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936672719118-f80fjhidkivjhlu231lplu97c1n32v3o</string>
	<key>API_KEY</key>
	<string>AIzaSyCPqJAbJ8EUd1PJsen7Vd0gjcxKgM2nv1U</string>
	<key>GCM_SENDER_ID</key>
	<string>936672719118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ONO.SpacesChat</string>
	<key>PROJECT_ID</key>
	<string>spaceschat-9dd26</string>
	<key>STORAGE_BUCKET</key>
	<string>spaceschat-9dd26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936672719118:ios:49fb2a577aea7ceda0675f</string>
</dict>
</plist>